body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(128, 103, 65);
}
img{
    width:800px;
    height: 500px;
    margin-left: 290px;
}
h1{
    margin-left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h2{
    margin-left: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
p{
    margin-left: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}